<%- include("partials/header"); -%>
<h1>Detail Page</h1>
Name: <%= data.name%>
<br>
Reg NO: <%= data.regno%>
<br>
Marks : <%= data.total%>
<br>
Result : <%= data.result%>


    <%- include("partials/footer"); -%>
